<div class="card" *ngIf="items.length > 0">
  <div class="card-header">
    Haftanın İpucu <span class="badge badge-light float-right">{{items[0].language}}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{items[0].title}}</h5>
    {{items[0].description}}
  </div>
  <div class="card-footer small">
    {{items[0].date.toDate() | date:'dd.MM.yyyy HH:mm'}}
  </div>
</div>

<div class="card small mt-3">
  <div class="card-header">
    Geçen haftalarda
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let item of items.slice(1)">
      {{ item.date.toDate() | date:'dd.MM.yyyy HH:mm' }} {{ item.title }}
    </li>
  </ul>
</div>

<router-outlet></router-outlet>